<div class="row heading">
	<div class="small-12 title-heading">
		<h1 class="bold">Opciones</h1>
	</div>
</div>

<div class="row collapse container">
	<div class="hide-for-small-only medium-5  large-4 columns">
		<div id="settings-side-bar">
			<ul class="side-nav">
				<li class="heading bold">Impresora</li>
				<li class="active printer-connection"><a href="#settings/printer-connection">Conexión</a></li>
				<li class="printer-profile dotted"><a href="#settings/printer-profile">Perfil</a></li>
				<li class="heading bold">Internet</li>
				<li class="internet-connection"><a href="#settings/internet-connection">Conexión</a></li>
				<li class="heading bold">Software</li>
				<li class="software-update"><a href="#settings/software-update">Actualizar</a></li>
				<li class="software-advanced dotted"><a href="#settings/software-advanced">Avanzado</a><li>
			</ul>
		</div>
	</div>
	<div class="small-12 medium-7 large-8 columns">
		
			<div class="show-for-small zebra">
				<h1 class="bold" align="center">Conexión de la impresora</h1>
			</div>
			<div id="printer-connection" class="settings-page">
			<div class="row connection-status">
				<div class="small-12">
					<span class="connecting"><i class="icon-rocket-spinner animate-spin"></i> Conectando...</span>
					<span></span>
					<span class="failed"><i class="icon-attention"></i> No hay conexión a la impresora.</span>
					<span class="connected"><i class="icon-3d-printer"></i> Conectado a la impresora.</span>
				</div>
			</div>
			<form></form>
			
		</div>

		<script type="text/template" id="printer-connection-settings-page-template">
			<div class="row">
				<div class="small-12">
					<label for="settings-serial-port" class="bold">
						Dispositivo USB <small>(<a href="#" class="retry-ports"><i class="icon-refresh"></i> Reescanear</a>)</small>
						<% if (settings.serial.portOptions.length > 0) { %>
							<% if (settings.serial.portOptions.length > 1) { %>
								<select id="settings-serial-port" name="port">
									<% _.each(settings.serial.portOptions, function(e) { %>
										<option value="<%= e[0] %>"<%= settings.serial.port == e[0] ? ' seleccionado' : '' %>><%= e[1] %></option>
									<% }) %>
								</select>
							<% } else { %>
								<% var e = settings.serial.portOptions[0] %>
								<input type="hidden" value="<%= e[0] %>" name="port"/>
								<p><%= e[1] %></p>
							<% } %>
						<% } else { %>
							<p>
							No se detectó ninguna impresora. ¿Está tu impresora conectada?<br/>
							<a href="#" class="retry-ports bold">Conecta la impresora y prueba de nuevo &raquo; </a>
							</p>
						<% } %>
					</label>
				</div>
			</div>
			<% if (settings.serial.portOptions.length > 0 && settings.serial.baudrateOptions.length > 0) { %>
				<div class="row">
					<div class="small-12">
						<label for="settings-baudrate" class="bold">Baud Rate
							<select id="settings-baudrate" name="baudrate">
								<% _.each(settings.serial.baudrateOptions, function(e) { %>
									<option value="<%= e %>"<%= settings.serial.baudrate == e[0] ? ' seleccionado' : '' %>><%= e %></option>
								<% }) %>
							</select>
						</label>
					</div>
				</div>
			<% } %>
			<% if (settings.serial.portOptions.length > 0 && ( settings.serial.baudrateOptions.length > 0 || settings.driver == 's3g') )  { %>
				<div align="center">
					<div class="loading-button test-connection">
						<button class="success radius">Comprobar conexión</button>
						<span class="button disabled radius success loading">Conectando...</span>
					</div>
				</div>
			<% } %>
		</script>

		<div class="show-for-small zebra">
			
			<h1 class="bold" align="center">Perfil de impresora</h1>
		</div>
		<div id="printer-profile" class="settings-page hide">
			<script type="text/template" id="printer-profile-settings-page-template">
				<div class="row">
					<div class="small-12">
						<form data-abide="ajax">
							<label for="settings-printer-driver" class="bold">
								Driver
								<select id="settings-printer-driver" name="driver">
									<option value="marlin" <%= settings.driver == 'marlin' ? 'selected' : '' %>>GCODE - Marlin firmware</option>
									<option value="s3g" <%= settings.driver == 's3g' ? 'selected' : '' %>> X3G - Sailfish / Makerbot firmware</option>
								</select>
							</label>
							<label for="extruder-count" class="bold">
								Nº de extrusores
							</label>
							<select id="extruder-count" name="extruder_count">
								<option value='1'>1</option>
								<option value='2'>2</option>
								<option value='3'>3</option>
								<option value='4'>4</option>
							</select>
							<div class="input-wrapper">
								<label for="max-nozzle-temp" class="bold">
									Max. temperatura de boquilla
								</label>
								<div class="row collapse">
							        <div class="small-9 columns">
							        	<input id="max-nozzle-temp" name="max_nozzle_temp" type="text" value="<%= settings.max_nozzle_temp %>" required pattern="integer"/>
							        	<small class="error">Temperatura no válida.</small>
							        </div>
							        <div class="small-3 columns"><span class="postfix">&deg;C</div>
							    </div>
							</div>
							<label for="heated-bed" class="bold">
								Cama caliente
							</label>
							<div class="switch radius">
							  <input id="heated-bed" name="heated_bed" type="checkbox" <% if (settings.heated_bed) { %> value="yes" checked<% } %>>
							  <label for="heated-bed"></label>
							</div>
							<div class="input-wrapper max_bed_temp<% if (!settings.heated_bed) { %> hide<% } %>">
								<label for="max-bed-temp" class="bold">
									Max. temperatura de cama
								</label>
								<div class="row collapse">
							        <div class="small-9 columns">
							        	<input id="max-bed-temp" name="max_bed_temp" type="text" value="<%= settings.max_bed_temp %>" required pattern="integer"/>
							        	<small class="error">Temperatura de cama no válida.</small>
							        </div>
							        <div class="small-3 columns"><span class="postfix">&deg;C</div>
							    </div>
							</div>
							<hr/>
							<div class="loading-button">
								<button class="success radius">Guardar perfil</button>
								<span class="loading button radius success disabled"><i class="icon-rocket-spinner animate-spin"></i> Guardando...</span>
							</div>
						</form>
					</div>
				</div>
			</script>
		</div>

		<div class="show-for-small zebra">
			<h1 class="bold" align="center">Conexión a Internet</h1>
		</div>
		<div id="internet-connection" class="settings-page hide"></div>
		<div id="wifi-network-list-modal" class="reveal-modal medium radius" data-reveal align="center">
			<h2 class="bold">Selecciona una red Wi-Fi</h2>
			<div class="modal-content"></div>
			<div class="modal-actions">
				<button class="secondary radius" onclick="$('#wifi-network-list-modal').foundation('reveal', 'close')">Cancelar</button>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		<div id="wifi-network-password-modal" class="reveal-modal medium radius" data-reveal align="center">
			<h2 class="bold">Contraseña de la red Wi-Fi</h2>
			<div class="modal-content">
				<p align="center">Introduce la contraseña para <span class="name bold"></span>.</p>
				<form>
					<input type="hidden" class="network-id-field" name="id"/>
					<input type="password" class="network-password-field" name="password"/>
				</form>
			</div>
			<div class="modal-actions">
				<button class="secondary radius" onclick="$('#wifi-network-password-modal').foundation('reveal', 'close')">Cancelar</button>
				<div class="loading-button">
					<button class="radius success connect">Conectar</button>
					<span class="loading button success disabled radius">
						<i class="icon-rocket-spinner animate-spin"></i> Puede tardar un poco. Por favor, ten paciencia...
					</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<script type="text/template" id="internet-connection-settings-page-template">
			<div class="connection">
				<% if (settings.networks.wired) { %>
					<h3 class="bold">Conexión por cable</h3>
					<i class="icon-exchange"></i> Conectado.
					<div class="ip-address">Dirección IP: <b><%= settings.networks.wired.ip %></b></div>
				<% } %>
			</div>
			<% if (settings.networks.manual) { %>
				<h3 class="bold">Configuración manual</h3>
				<div>Interface: <b><%= settings.networks.manual.interface %></b></div>			
				<div class="ip-address">Dirección IP: <b><%= settings.networks.manual.ip %></b></div>	
			<% } %>
			<% if (settings.hasWifi) { %>
				<div class="connection">
					<h3 class="bold">Conexión Wi-Fi</h3>
					<% if (settings.networks.wireless) { %>
						<% if (settings.networks.wireless.signal < 33) { %>
							<i class="icon-wifi-signal-low"></i>
						<% } else if (settings.networks.wireless.signal > 33 && settings.networks.wireless.signal < 66) { %>
							<i class="icon-wifi-signal-med"></i>
						<% } else { %>
							<i class="icon-wifi-signal-high"></i>
						<% } %>
						Conectado a <b><%= settings.networks.wireless.name %></b>.
						<div class="ip-address">Dirección IP: <b><%= settings.networks.wireless.ip %></b></div>
					<% } else { %>
						No conectado.
					<% } %>
					<div class="loading-button list-networks">
						<button class="radius small">Escaneo de redes Wi-Fi</button>
						<span class="loading button disabled radius small">
							<i class="icon-rocket-spinner animate-spin"></i> Buscando redes...
						</span>
					</div>
				</div>
			<% } %>

			<% if (settings.hotspot && (settings.networks || !settings.hotspot.active)) { %>
				<hr/>
				<h3 class="bold">Punto de acceso local</h3>
				<div>
					<% if (settings.hotspot.active) { %>
						<h4>Creando un punto de acceso llamado <b><%= settings.hotspot.name %></b>.</h4>
						<div class="loading-button stop-hotspot">
							<button class="radius">Detener punto de acceso</button>
							<span class="loading button disabled radius">
								<i class="icon-rocket-spinner animate-spin"></i> Deteniendo punto de acceso...
							</span>
						</div>
					<% } else { %>
						<div class="loading-button start-hotspot">
							<button class="radius">Iniciar punto de acceso</button>
							<span class="loading button disabled radius">
								<i class="icon-rocket-spinner animate-spin"></i> Iniciando punto de acceso...
							</span>
						</div>
					<% } %>
					<div class="row hotspot-off">
						<div class="small-2 large-1 columns">
							<input id="hotspot-off" type="checkbox" <% if (settings.hotspot.hotspotOnlyOffline) { %> value="yes" checked <% } %>>
						</div>
						<div class="small-10 large-11 columns">
							<label for="hotspot-off">
								<b>Desconectar punto de acceso cuando haya cerca una red conocida.</b>
							</label>
						</div>
					</div>
				</div>
			<% } %>
		</script>
		<script type="text/template" id="wifi-network-modal-row">
			<table>
			<% _.each(networks, function(n) { %>
				<tr>
					<td>
						<% if (n.signal < 33) { %>
							<i class="icon-wifi-signal-low"></i>
						<% } else if (n.signal > 33 && n.signal < 66) { %>
							<i class="icon-wifi-signal-med"></i>
						<% } else { %>
							<i class="icon-wifi-signal-high"></i>
						<% } %>
						<% if (n.secured) { %><i class="icon-lock"></i><% } %>
					</td>
					<td class="network-name"><%= n.name %></td>
					<td>
						<% if (n.active) { %>
							<div class="active-network"><i class="icon-exchange"></i></div>
						<% } else { %>
							<div class="loading-button">
								<button class="radius success tiny" data-id="<%= n.id %>" data-secured="<%= n.secured ? 1 : 0 %>" data-name="<%= n.name %>">Conectar</button>
								<span class="loading button disabled success tiny radius">
									<i class="icon-rocket-spinner animate-spin"></i> Conectando...
								</span>
							</div>
						<% } %>
					</td>
				</tr>
			<% }); %>
			</table>
		</script>

		<div class="show-for-small zebra software">
			<h1 class="bold" align="center">Software</h1>
		</div>
		<div id="software-update" class="settings-page hide" align="center">
			<h4 align="center"><b>{{version}}</b> instalado.</h4>
			<div class="loading-button check">
				<button class="success radius">Comprobar actualizaciones</button>
				<span class="button success radius loading"><i class="icon-rocket-spinner animate-spin"></i> Comprobando...</span>
			</div>
		</div>
		<div id="software-update-modal" class="reveal-modal medium radius" data-reveal>
			<div class="content"></div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		<script type="text/template" id="software-update-modal-content">
			<h2 class="bold">
				<% if (data.update_available && !data.is_current) { %> Actualización <% } else { %> Ninguna actualización <% } %> disponible
			</h2>
			<% if (data.update_available) { %>
				<div class="modal-content">
					<p>
					<% if (data.is_current) { %>
						Instalado actualmente: <b><%= data.release.major+'.'+data.release.minor+'('+data.release.build+')'%></b>
					<% } else { %>
						Versión: <big class="bold"><%= data.release.major+'.'+data.release.minor+'('+data.release.build+')'%></big>
						<br/>Publicada en: <b><%= data.release.date ? date_format(new Date(data.release.date)) : 'No publicada.' %></b>
					<% } %>
					<% if (data.release.force_setup) { %>
						<br/><i class="icon-attention"></i> Necesitarás volver a realizar el asistente de configuración tras instalar esta nueva versión.
					<% } %>
					</p>
					<p>
						<b>Cambios en esta nueva versión:</b><br/>
						<%= data.release.release_notes %>
					</p>
				</div>
			<% } %>
			<div class="modal-actions">
				<button class="secondary radius<% if (data.update_available) { %> left<% } %> cancel">Cancelar</button>
				<% if (data.update_available) { %>
					<div class="loading-button right">
						<button class="success radius go"><% if (data.is_current) { %>Reinstalar<% } else { %>Actualizar<% } %></button>
						<span class="button disabled success radius loading">
							<i class="icon-rocket-spinner animate-spin"></i> Iniciando...<span>
						</span>
					</div>
				<% } %>
			</div>
		</script>

		<div id="software-advanced" class="settings-page hide" align="center"></div>
		<script type="text/template" id="software-advanced-content-template">
			<h4 class="bold">Configuración de fábrica</h4>
			<button class="alert radius" data-reveal-id="restore-confirm-modal">Restaurar opciones por defecto</button>
			<hr/>
			<h4 class="bold">Logs</h4>
			<button class="secondary radius" data-reveal-id="send-logs-modal">Enviar logs a AstroPrint</button><br/>
			Tamaño actual de la carpeta de logs: <span class="size bold"><%= size_format(data.sizeLogs) %></span> <button class="secondary radius tiny" data-reveal-id="delete-logs-modal">Limpiar</button>
			<div class="row serial-container">
				<div class="small-2 large-1 columns">
					<input id="serial-logs" type="checkbox" <% if (data.serialActivated) { %> value="yes" checked <% } %>/>
				</div>
				<div class="small-10 large-11 columns">
					<label for="serial-off">
						<b>
							Activar el log serial. 
						</b>
						<i class="icon-attention"></i>Solamente deberías activar esta opción para ayudar a resolver un problema de comunicación con tu impresora. Esto genera una gran cantidad de datos.
					</label>
				</div>
			</div>
		</script>

		<div id="restore-confirm-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">¿Seguro?</h2>
			<div class="modal-content">
				<p>Esto borrará toda tu configuración y ficheros de esta {{variantData['productName']}}.</p>
				<p>
					<label for="confirmation">
						<b>Escribe "RESET" para confirmar</b>
						<input type="text"/>
					</label>
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancelar</button>
				<div class="loading-button right">
					<button class="alert radius">Reiniciar</button>
					<span class="button disabled alert radius loading"><i class="icon-rocket-spinner animate-spin"></i> Reiniciando...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="send-logs-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">Enviar logs a AstroPrint</h2>
			<div class="modal-content">
				<p>Esto nos envía los logs de tu dispositivo para que podamos analizar el problema.</p>
				<p>
					<label>
						¿Tienes un ticket de soporte?
						<input type="text" name="ticket" placeholder="Introduce el nº del ticket de soporte o déjalo en blanco"/>
					</label>
					<textarea name="message" placeholder="Descríbenos qué ha sucedido (opcional)"></textarea>
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancelar</button>
				<div class="loading-button right">
					<button class="success radius">Enviar logs</button>
					<span class="button disabled success radius loading"><i class="icon-rocket-spinner animate-spin"></i> Enviando...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div id="delete-logs-modal" class="reveal-modal medium radius" data-reveal>
			<h2 class="bold">Borrar los logs de DimaNET</h2>
			<div class="modal-content">
				<p>
					Esto borrará todos los logs antiguos de DimaNET. Ayudará a recuperar espacio, pero puede dificultarnos la búsqueda de un problema que hubieras tenido anteriormente.
				</p>
				<p>
					¿Seguro de que quieres eliminar todos los logs?
				</p>
			</div>
			<div class="modal-actions">
				<button class="secondary radius left">Cancelar</button>
				<div class="loading-button right">
					<button class="alert radius">Eliminar logs</button>
					<span class="button disabled alert radius loading"><i class="icon-rocket-spinner animate-spin"></i> Borrando...</span>
				</div>
			</div>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
</div>
