{% extends 'base.jinja2' %}

{% block css %}
	{% assets filters="scss", output="css/gen/setup.css", 
		"css/scss/setup.scss" %}
		<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
	{% endassets %}
{% endblock %}

{% block content %}

<div id="setup-view" class="row">
	<div class="small-12 large-8 large-centered columns" align="center">
		<div id="step-welcome" class="step hide">
			<h1 class="bold">{{variantData['welcomeMsgHeader']}}<div class="nub"></div></h1>
			<div class="content" align="center">
				<img src="/img/setup/step_1_rocket.png" height="104"/>
				{{variantData['welcomeMsgContent']}}
				<a class="button success radius expand bold" href="#name">Comenzar configuración</i></a>
			</div>
		</div>

		<div id="step-name" class="step hide">
			<h1 class="bold">Da un nombre a tu <span class="light">Dima</span>NET&trade;<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_2_rocket.png" height="104"/>
				<p>
					Si tienes más de una {{variantData['productName']}}, asegúrate de que tienen nombres diferentes.
				</p>
				<div class="settings-state">
					<form align="center">
						<label for="astrobox-name">
							<b>Nombre de la {{variantData['productName']}}</b>
							<input id="astrobox-name" class="radius" type="text" name="name" autocomplete="off"/>
						</label>
						<p>
							Este nombre afectará a unas cuantas cosas:
						</p>
						<ul class="preview">
							<li><i class="icon-signal"></i> Nombre del punto de acceso WiFi:</li>
							<li><span class="hotspot-name bold"></span></li>
							<li><i class="icon-link"></i> URLs de la {{variantData['productName']}}: </li>
							<li>http://<span class="astrobox-url bold"></span>.local</li>
							<li>http://<span class="bold">{{ipraspberry}}</span></li>
						</ul>
						<div class="loading-button expand">
							<a class="button success radius submit-action expand" href="#internet"><small>Siguiente:</small> <b>Configurar Internet</b> <i class="icon-right-open"></i></a>
							<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Guardando...</span>
						</div>
					</form>
				</div>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Comprobando nombre...</h3>
				</div>
				<div class="failed-state" align="center">
					<i class="icon-cancel-circled failed"></i>
					<h3 class="bold" align="center"></h3>
					<button class="success radius">Reintentar</button>
				</div>
			</div>
		</div>

		<div id="step-internet" class="step hide">
			<h1 class="bold">Configuración de Internet<div class="nub"></div></h1>
			<div class="content">
				<div class="success-state" align="center">
					<img src="/img/setup/step_4_wifi-box.png" height="107"/>
					<h3 class="bold" align="center">¡Todo correcto!</h3>
					<p>
						Tu {{variantData['productName']}} ya está conectada a Internet.
					</p>
					<hr/>
					<div class="row hotspot-off">
						<div class="small-2 medium-1 columns">
							<input id="hotspot-off" type="checkbox" {%- if (settings.getBoolean(['wifi','hotspotOnlyOffline'])) %} value="yes" checked {%- endif %}>
						</div>
						<div class="small-10 medium-11 columns">
							<label for="hotspot-off">
								<b>Desconectar punto de acceso cuando haya cerca una red conocida.</b><br/>
								<small>(Esto puede cambiarse luego, en las opciones)</small>
							</label>
						</div>
					</div>
					<a class="button success radius expand" href="#astroprint"><small>Siguiente:</small> <b>Cuenta Astroprint</b> <i class="icon-right-open"></i></a>
				</div>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Comprobando conexión...</h3>
				</div>
				<div class="failed-state" align="center">
					<i class="icon-cancel-circled failed"></i>
					<h3 class="bold" align="center"></h3>
					<button class="success radius expand">Reintentar</button>
					<div align="right">
						<a href="#connect-printer" class="skip-step">Ignorar la configuración de Internet. Utilizar {{variantData['productName']}} localmente <i class="icon-right-open"></i></a>
					</div>
				</div>
				<div class="settings-state">
					<h2 class="bold" align="center">Elige una red Wi-Fi</h2>
					<div class="wifi-network-list"></div>
					<div class="row">
						<div class="loading-button expand">
							<div class="small-12 medium-6 medium-push-6 columns">
								<button class="disabled success radius connect expand bold">Conectar</button>
							</div>
							<div class="small-12 medium-6 medium-pull-6 columns">
								<a href="#connect-printer" class="button secondary radius expand bold"><sup>*</sup>Ignorar</a>
							</div>
							<div class="small-12 columns">
								<span class="button disabled loading success radius expand">
									<i class="icon-rocket-spinner animate-spin"></i> Puede tardar un poco. Por favor, ten paciencia...
								</span>
							</div>
						</div>
					</div>
					<p class="small">
						<sup>*</sup> Sin conectarte a Internet, únicamente puedes utilizar
						tu {{variantData['productName']}} cuando estás cerca de ella. 
					</p>
				</div>
			</div>

			<div id="wifi-network-password-modal" class="reveal-modal medium radius" data-reveal align="center">
				<h2 class="bold">Contraseña de la red Wi-Fi</h2>
				<p align="center"> <span class="name bold"></span>.</p>
				<form>
					<input type="hidden" class="network-id-field" name="id"/>
					<input type="password" class="network-password-field" name="password"/>
					<div class="loading-button">
						<a class="button secondary radius cancel" href="#internet">Cancelar</a>
						<input type="submit" class="button radius success connect" value="Conectar"/>
						<span class="loading button success disabled radius">
							<i class="icon-rocket-spinner animate-spin"></i> Puede tardar un poco. Por favor, ten paciencia...
						</span>
					</div>
				</form>
				<a class="close-reveal-modal">&#215;</a>
			</div>

			<script type="text/template" id="wifi-network-list-template">
				<ul>
				<% _.each(networks, function(n, idx) { %>
					<li data-id="<%= idx %>">
						<span class="name left"><%= n.name %></span>
						<span class="indicators right">
							<% if (n.secured) { %><i class="icon-lock"></i><% } %>
							<% if (n.signal < 33) { %>
								<i class="icon-wifi-signal-low"></i>
							<% } else if (n.signal > 33 && n.signal < 66) { %>
								<i class="icon-wifi-signal-med"></i>
							<% } else { %>
								<i class="icon-wifi-signal-high"></i>
							<% } %>
						</span>
						<div class="clearfix"></div>
					</li>
				<% }); %>
				</ul>
			</script>
		</div>

		<div id="step-astroprint" class="step hide">
			<h1 class="bold">Cuenta de AstroPrint<div class="nub"></div></h1>
			<div class="content">
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Comprobando en AstroPrint.com...</h3>
				</div>
				<div class="success-state" align="center">
					<img src="/img/setup/step_5_rocket-launch.png" height="93"/>
					<h4 class="bold" align="center">
						<i class="icon-user ok"></i>
						<span class="email"></span>
						(<a class="logout" href="#">Desconectar</a>)
					</h4>
					<a class="button success radius expand" href="#connect-printer"><small>Next:</small> <b>Conexión de la impresora</b> <i class="icon-right-open"></i></a>
				</div>
				<div class="settings-state">
					<img src="/img/setup/step_5_rocket-launch.png" height="93"/>
					<p>
						Esto te permite laminar, guardar ficheros e imprimir a través de los servidores de AstroPrint. Inicia sesión debajo o <a target="_astroprint" href="http://www.astroprint.com/account/signup">crea una nueva cuenta</a>.
					</p>
					<form>
						<label for="email">
							<i class="icon-user"></i> <b>Email</b> (<a target="_astroprint" href="https://www.astroprint.com/account/signup">¿No tienes cuenta?</a>)
							<input type="email" id="email" class="radius" name="email"/>
						</label>
						<label for="password">
							<i class="icon-lock"></i> <b>Contraseña</b> (<a target="_astroprint" href="https://www.astroprint.com/account/forgot">¿La olvidaste?</a>)
							<input type="password" id="password" class="radius" name="password"/>
						</label>
						<div align="center">
							<div class="loading-button expand">
								<button class="success radius submit-action expand" href="#connect-printer"><small>Siguiente:</small> <b>Conexión de la impresora</b> <i class="icon-right-open"></i></button>
								<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Entrando...</span>
							</div>
						</div>
					</form>
					<div align="right">
						<a href="#connect-printer" class="skip-step">Ignorar cuenta de AstroPrint <i class="icon-right-open"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div id="step-connect-printer" class="step hide">
			<h1 class="bold">Conectar la impresora<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_6_connect-box.png" height="90"/>
				<p align="center">
					Enchufa el USB de tu impresora en la {{variantData['productName']}} y clica en Continuar tras ello.
				</p>
				<a href="#printer" class="button success radius share-button bold expand">Continuar</a>
				<div align="right">
					<a class="skip-step" href="#share">Ignorar y configurar más tarde <i class="icon-right-open"></i></a>
				</div>
			</div>
		</div>

		<div id="step-printer" class="step hide">
			<h1 class="bold">Conectar la impresora<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/step_6.2_connected-box.png" height="76"/>
				<div class="checking-state" align="center">
					<i class="icon-rocket-spinner animate-spin"></i>
					<h3 class="bold" align="center">Comprobando las opciones de impresora...</h3>
				</div>
				<div class="settings-state">
					<p>
						Selecciona tus opciones de conexión.
					</p>
					<form></form>
					<div align="right">
						<a href="#share" class="skip-step">Ignorar conexión de impresora <i class="icon-right-open"></i></a>
					</div>
				</div>
			</div>
			<script type="text/template" id="step-printer-template">
				<label for="settings-printer-driver" class="bold">
					Driver
					<select id="settings-printer-driver" name="driver">
						<option value="marlin" <%= settings.driver == 'marlin' ? 'seleccionado' : '' %>>GCODE - Marlin firmware</option>
						<option value="s3g" <%= settings.driver == 's3g' ? 'seleccionado' : '' %>> X3G - Sailfish / Makerbot firmware</option>
					</select>
				</label>
				<label for="settings-serial-port" class="bold">
					Dispositivo USB
					<% if (settings.portOptions.length > 0) { %>
						<% if (settings.portOptions.length > 1) { %>
							<select id="settings-serial-port" name="port">
								<% _.each(settings.portOptions, function(e) { %>
									<option value="<%= e[0] %>"<%= settings.port == e[0] ? ' selected' : '' %>><%= e[1] %></option>
								<% }) %>
							</select>
						<% } else { %>
							<% var e = settings.portOptions[0] %>
							<input type="hidden" value="<%= e[0] %>" name="port"/>
							<p><%= e[1] %></p>
						<% } %>
					<% } else { %>
						<p>
						No se detectó ninguna impresora. ¿Se encuentra conectada?<br/>
						<a href="#" class="retry-ports bold">Conecta la impresora e inténtalo de nuevo &raquo; </a>
						</p>
					<% } %>
				</label>
				<% if (settings.portOptions.length > 0 && settings.driver != 's3g') { %>
					<label for="settings-baudrate" class="bold">Baud Rate
						<select id="settings-baudrate" name="baudrate">
							<% _.each(settings.baudrateOptions, function(e) { %>
								<option value="<%= e %>"<%= settings.baudrate == e[0] ? ' seleccionado' : '' %>><%= e %></option>
							<% }) %>
						</select>
					</label>
				<% } %>
				<% if (settings.portOptions.length > 0 && ( settings.baudrateOptions.length > 0 || settings.driver == 's3g')) { %>
					<div align="center">
						<div class="loading-button expand">
							<button class="button success radius submit-action expand bold" href="#share">Connect</button>
							<span class="button success disabled radius loading expand"><i class="icon-rocket-spinner animate-spin"></i> Conectando...</span>
						</div>
					</div>
				<% } %>
			</script>
		</div>

		<div id="step-share" class="step hide">
			<h1 class="bold">You're done!<div class="nub"></div></h1>
			<div class="content">
				<img src="/img/setup/final_step_astroprint_logo.png" height=""/>
				<p>{{variantData['congratsMsg']}}</p>
				<div class="row">
					<div class="small-offset-1 small-5 columns">
						<button class="radius share-button facebook bold expand"><i class="icon-facebook-squared"></i></button>
					</div>
					<div class="small-5 small-pull-1 columns">
						<button class="radius share-button twitter bold expand"><i class="icon-twitter"></i></button>
					</div>
				</div>
				<div class="loading-button expand">
					<a class="button radius success bold setup-done expand" href="#">Comenzar a imprimir <i class="icon-right-open"></i></a>
					<span class="button disabled success bold expand loading"><i class="icon-rocket-spinner animate-spin"></i> Iniciando</span>
				</div>
			</div>
		</div>

	</div>
</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var UI_API_KEY = "{{ uiApiKey }}";
		var BASEURL = "{{ url_for('index') }}";
		var API_BASEURL = BASEURL + "api/";
		var SOCKJS_URI = window.location.protocol.slice(0, -1) + "://" + (window.document ? window.document.domain : window.location.hostname) + ":" + window.location.port + "/sockjs";
		var PRODUCT_NAME = "{{variantData['productName']}}";
		var shareOptions = {{ variantData['share'] | tojson | safe }}
	</script>
	{% assets filters="closure_js", output="js/gen/setup.js", 
		"js/lib/jquery.js", "js/lib/underscore.js", "js/lib/backbone.js", "js/lib/fastclick.js", "js/lib/foundation/foundation.js", "js/lib/foundation/foundation.abide.js", "js/lib/foundation/foundation.reveal.js",
		"js/lib/jquery.noty.js", "js/lib/jquery.noty.top.js", "js/lib/sockjs.js",
		"js/setup/setup.js" -%}
			<script type="text/javascript" src="{{ ASSET_URL }}"></script>
	{%- endassets %}
	<script type="text/javascript">
		$(document).foundation();
	</script>
{% endblock %}
