<div class="row">
	<div class="small-12 columns" align="center">
		<i class="icon-off blink-animation"></i>
		<h1 class="bold loading">Yendo a dormir...</h1>
		<h2 class="bold done">Ahora es seguro apagar tu {{variantData['productName']}}</h2>
	</div>
</div>

<div id="turnoff-modal" class="reveal-modal medium radius" data-reveal align="center">
	<h2>Apagar {{variantData['productName']}}</h2>
	<p>El dispositivo va a entrar en modo de suspensión. Cualquier trabajo de impresión activo será detenido.</p>
	<p>¿Seguro?</p>
	<button class="secondary radius">Cancelar</button>
	<button class="alert radius">Sí</button>
	<a class="close-reveal-modal">&#215;</a>
</div>
